{% extends "base.html" %}
{% block title %} Error Page{% endblock %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div>
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>

                    <div class="content_box_404 center">
                        <h3>
                            Looks like you're lost
                        </h3>

                        <p>the page you are looking for is not avaible!</p>

                        <a href="/" class="link_404 btn btn-warning">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}