div.container {
    width: 100%;
    border: 1px solid gray;
}
/*header*/
header, footer {
    padding: 1em;
    font-family: "Times New Roman";
    font-weight:bold;
    color: navy;
    background-image:url("https://goo.gl/nNfU14");
    border: 5px inset black;
    clear: left;
    text-align: center;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 8px;
    border: 1px solid #ddd;

}

nav ul a {
    text-decoration: none;

}

/*table style*/
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: skyblue;
    color: white;
}
ins {
  text-indent:50px;
}
.example {
  padding:12px;
  background-color: #f2f2f2;
  box-shadow: 4px 4px 2px darkgray;
  border: 3px groove skyblue;

}
/*blue background style for code section titles*/
.linestyle1 {
  height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    color:skyblue;
}