
<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Wall Street Station{% endblock %}
{% block content %}
<head>
    <link href = "templates/central.css" rel="stylesheet" type="text/css" />
</head>
<div class="media">



    <p>Main attractions include landscapes such as the Ramble and Lake, Hallett Nature Sanctuary, the Jacqueline Kennedy Onassis Reservoir, and Sheep Meadow; amusement attractions such as Wollman Rink, Central Park Carousel, and the Central Park Zoo; formal spaces such as the Central Park Mall and Bethesda Terrace; and the Delacorte Theater. The biologically diverse ecosystem has several hundred species of flora and fauna. Recreational activities include carriage-horse and bicycle tours, bicycling, sports facilities, and concerts and events such as Shakespeare in the Park. Central Park is traversed by a system of roads and walkways and is served by public transportation.

        Its size and cultural position make it a model for the world's urban parks. Its influence earned Central Park the designations of National Historic Landmark in 1963 and of New York City scenic landmark in 1974. Central Park is owned by the New York City Department of Parks and Recreation but has been managed by the Central Park Conservancy since 1998, under a contract with the municipal government in a public–private partnership. The Conservancy, a non-profit organization, contributes 75% of Central Park's $65 million annual budget and is responsible for all basic care of the park.</p>


</div>
<div>
    <image src="{{ url_for('static', filename='images/centralpark1.jpg')}}" style="width:500px;height600px;"> </image>
    <image src="{{ url_for('static', filename='images/download.jpg')}}" style="width:500px;height600px;"></image>
    <image src="{{ url_for('static', filename='images/cpart2.jpg')}}" style="width:500px;height600px;"></image>
</div>

<footer>
    <h2> Want to Leave? Consider these Subways</h2>
<div>
    <table id="customers">
        <tr>
            <th>72nd</th>
        </tr>
        <tr>
            <td><a href = "traintime/123S">72nd Lines 1 2 3 Southbound</a></td>
        </tr>

        <tr>
            <td><a href = "traintime/123N">72nd Lines 1 2 3 Northbound</a></td>
        </tr>

        <tr>
            <td><a href = "traintime/A22S">72nd A22 Southbound</a></td>
        </tr>

        <tr>
            <td><a href = "traintime/A22N">72nd A22 Northbound</a></td>
        </tr>
    </table>

    <table id="customers">
        <tr>
            <th>81st</th>
        </tr>
        <tr>
            <td><a href = "traintime/A21S">81st Lines 1 2 3 Southbound</a></td>
        </tr>

        <tr>
            <td><a href = "traintime/A21N">81st Lines 1 2 3 Northbound</a></td>
        </tr>

    </table>
</div>
</footer>


{% endblock %}