{% block content %}
<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="media">

    <h1 style="text-align:center;"> Madison Square Garden </h1>

    Central Park is a urban park. It is the most filmed location in the world. It is a model for other urban parks in the world. Tourists can enjoy concerts and tours around the park.
    <p>It uses utility classes for typography and spacing to space content out within the larger container.
</div>
{ url_for('static', filename='msq.jpeg')}}
h5 class="mt-0" >Central Park /h5

{% endblock %}