<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Welcome to the Cougars Travel Website!
{% endblock %}
{% block content %}

<!-- moved the hr element into the body so that it is in the proper place. All elements that are typically visible should be contained within the body tag. -->

<body style="background-color:#FCF3DE;">
<hr>
<h1 style="text-align:center;"> New York Attractions </h1>
<div class="banner-info">
    <div class="image-container liberty-statue">
        <img src="{{url_for('static', filename='images/NewYork-StatueOfLiberty.jpg')}}">
    </div>
    <div class="image-container empire">
        <img src="{{url_for('static', filename='images/NewYork-EmpireState.jpg')}}">
    </div>
    <div class="image-container madison">
        <img src="{{url_for('static', filename='images/NewYork-MadisonSquareGarden.jpg')}}">
    </div>
    <div class="image-container liberty-park">
        <img src="{{url_for('static', filename='images/NewYork-LibertyPark.jpg')}}">
    </div>
    <div class="image-container museum">
        <img src="{{url_for('static', filename='images/NewYork-MuseumOfArt.jpg')}}">
    </div>
    <div class="image-container times-square">    
        <img src="{{url_for('static', filename='images/NewYork-TimesSquare.jpg')}}">
    </div>
</div>
<h2 style="text-align:center;"> Enter Your Comments</h2>
<div class="banner-info" align="center">
    <form action="" method="post">
        <label for="input-name">Name: </label>
        <input id="input name" type="text" name="name" required placeholder="Enter Name">
        <label for="location"> Location: </label>
        <input id="location" type="text" name="location" required placeholder="Enter Location">
        <label for="comment">comment: </label>
        <textarea id="comment" name="comment" placeholder="enter your comments about your experience here." required></textarea >
        <input type="hidden" name="did_submit" value="true">
        <input type="submit" value="Submit">
    </form>
</div>
 <hr>
{% for item in items %}
<div class="reviews">
<p>
    <span class=name"> {{ item [0] }}</span><br>
    <span class="location"> {{item [1]}} </span><br>
    {{ item [2] }}
    <p/>
</div>
{% endfor %}
<hr>
<footer>
   <a  class="button link" href="stations.html">See list of Subways >></a>
</footer>
<script>
    //fixes the double post upon refresh. 

if ( window.history.replaceState ) {
    console.log('history replaceState...')
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
{% endblock %}