<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Welcome to the Cougars Travel Website!
{% endblock %}
{% block content %}
<body style="background-color:#FCF3DE;">
<!-- title-->
<h1 style="text-align:center;"> New York Attractions </h1>
<!-- images on home page--array of 6 photos-->
<div class="main-banner">
    <div class="image-container liberty-statue">
        <img src="{{url_for('static', filename='images/NewYork-StatueOfLiberty.jpg')}}">
    </div>
    <div class="image-container empire">
        <img src="{{url_for('static', filename='images/NewYork-EmpireState.jpg')}}">
    </div>
    <div class="image-container madison">
        <img src="{{url_for('static', filename='images/NewYork-MadisonSquareGarden.jpg')}}">
    </div>
    <div class="image-container liberty-park">
        <img src="{{url_for('static', filename='images/NewYork-LibertyPark.jpg')}}">
    </div>
    <div class="image-container museum">
        <img src="{{url_for('static', filename='images/NewYork-MuseumOfArt.jpg')}}">
    </div>
    <div class="image-container times-square">    
        <img src="{{url_for('static', filename='images/NewYork-TimesSquare.jpg')}}">
    </div>
</div>
<!--CRUD code for comments--name, location, comments-->
<h2> Enter Your Comments</h2>
<div class="enter-comments">
    <form action="#comments" method="post">
        <div class="upper">
            <!-- name input-->
        <label for="input-name">Name: </label>
        <input id="input name" type="text" name="name" required placeholder="Enter Name">
            <!-- location input-->
        <label for="location"> Location: </label>
        <!-- keep the select dropdown for consistency in data -->
        <select id="location" name="location" required>
            <option value="">Please Choose</option>
            <option value="Statue Of Liberty">Statue Of Liberty</option>
            <option value="Empire State Buliding">Empire State Buliding</option>
            <option value="Madison Square Garden">Madison Square Garden</option>
            <option value="WTC Liberty Park">WTC Liberty Park</option>
            <option value="Museum Of Art">Museum Of Art</option>
            <option value="Times Square">Times Square</option>            
        </select>
        </div>
        <div class="lower">
            <!-- comment input-->
        <label for="comment">Your Comment: </label>
        <textarea id="comment" name="comment" placeholder="enter your comments about your experience here." required></textarea >
        <input type="hidden" name="did_submit" value="true">
        </div>
        <!-- button -->
        <input type="submit" value="Submit">
    </form>
        </div>
<h3 id="comments">Read What Others Have to Say:</h3>
<div class="reviews">
    <!-- make sure that the for loop only encloses the individual reviews -->
{% for item in items %}
    <div class="review">
        <!-- list -->
        <p class="name"> {{ item [0] }}</p>
        <p class="location"> {{item [1]}} </p>
        <p class="comments">{{ item [2] }}</p>
    </div>
{% endfor %}
</div>
<footer>
   <a  class="button link" href="stations.html">See list of Subways >></a>
</footer>
<script>
    //fixes the double post upon refresh. 

if ( window.history.replaceState ) {
    console.log('history replaceState...')
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
{% endblock %}