<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Location{% endblock %}
{% block content %}
<style type="text/css">
	.center{
		text-align: center;
	}

</style>

<!-- location_name -->
<h1 class="center">{{location[1]}}</h1>
<div class="jumbotron center">
			<!-- fix this: img_path -->
            <img src="{{location[3]}}" width="600" height="300" class="center">	
            {{location[4] | safe}}
            <a class="btn btn-primary center" href="{{location[5]}}" role="button">Take me there!</a>	
</div>
<footer>
	<!--get footer stations -->
    <h3> Want to Leave? Consider these Subways</h3>
    <div class="stations">
    	<h3>72nd</h3>
    	<ul>
	    	<li><a href = "traintime/123S">72nd Lines 1 2 3 Southbound</a></li>
        	<li><a href = "traintime/123N">72nd Lines 1 2 3 Northbound</a></li>
			<li><a href = "traintime/A22S">72nd A22 Southbound</a></li>
			<li><a href = "traintime/A22N">72nd A22 Northbound</a></li>
    	</ul>
    	<h3>81st</h3>
    		<ul>
				<li><a href = "traintime/A21S">81st Lines 1 2 3 Southbound</a></li>
				<li><a href = "traintime/A21N">81st Lines 1 2 3 Northbound</a></li>
			</ul>
    </div>
    </footer>
    {% endblock %}

