{% extends "base.html" %}
{% block title %}Location: {{title}} {% endblock %}
{% block content %}
<h1>{{title}}</h1>
<div class="center">
<img src="{{url_for('static', filename='images/')}}{{image}}">
{{body | safe}}
<p class="center">
<a class="btn btn-gmap" href="{{gmapLink}}" role="button" target="_blank" title="opens in a new tab">Take me there!</a>
</p>
</div>
<h3>Comments on {{title}}</h3>
<div class="reviews">
    <!-- make sure that the for loop only encloses the individual reviews -->
{% for item in items %}
    <div class="review">
        <p><span class="name">{{ item [0] }} said:</span> {{ item [2] }}</p>
    </div>
{% endfor %}
</div>
<h3>Stations Near You:</h3>
<div>
{% if isText %}
	<p class="center">{{stations}}</p>
{% else %}	
{% for station in stations %}
    <div class="station-list center">
    	{%  if 'stop_id' in station: %}
        <p><span class="name"><a href="/traintime/{{station.stop_id}}"> {{station.name}} {{station.direction}} Stop {{station.stop_id}}</a></p>
    	{% endif %}
    </div>
{% endfor %}	
{%  endif %}
</div>
{% endblock %}