<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

    <h1 style="text-align:center;"> Madison Square Garden </h1>
    <body style="background-color:#FCF3DE;">
    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F460180771%2F960x0.jpg%3Ffit%3Dscale" width="600" height="300" class="center">
        <p>Madison Square Garden is a multipurpose stadium. It is used for hockey, boxing, concerts, and other events. It is an indoor arena.
        </p>
    <p style="text-align:center;">
        <a class="btn btn-primary" href="https://www.google.com/maps/d/u/0/viewer?source=embed&geocode&ie=UTF8&hq=madison%20square%20garden&hnear&oe=UTF8&msa=0&mid=1nxW50kSAW5br07FWO2aPBjM42vU&ll=40.746204129484845%2C-73.99023750000002&z=15" role="button">Take me there!</a>
    </p>

</body>

{% endblock %}
