<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1> Museum of Art </h1>
<body style="background-color:#FCF3DE;">
<div class="jumbotron">
    <p style="text-align:center;">
        <img src="https://lh3.googleusercontent.com/oeElhcz08ou_KACQV0FTlEfPtkYEz-kBA57YDNvMG8Dg9fij2L09VsIhhytVa9eu" width="600" height="300" class="center">
    <center>
    The museum holds a lot of valuable art pieces. It is the largest art museum in the United States.
</center>
    <br>
<p style="text-align:center;">
    <a class="btn btn-primary" href="https://www.google.com/maps/d/u/0/viewer?hl=en&ie=UTF8&msa=0&ll=40.78001300000001%2C-73.962075&spn=0.004891%2C0.00913&z=17&mid=1_ZIfxtkBKensYp7guvhjFMMnI8o" role="button">Take me there!</a>
</p>
</div>
    </body>
<footer>
    <h3 style="font:Monaco;"> Want to Leave? Consider these Subways</h3>
    <div>
        <table id="customers">
            <tr>
                <th>72nd</th>
            </tr>
            <tr>
                <td><a href = "traintime/123S">72nd Lines 1 2 3 Southbound</a></td>
            </tr>

            <tr>
                <td><a href = "traintime/123N">72nd Lines 1 2 3 Northbound</a></td>
            </tr>

            <tr>
                <td><a href = "traintime/A22S">72nd A22 Southbound</a></td>
            </tr>

            <tr>
                <td><a href = "traintime/A22N">72nd A22 Northbound</a></td>
            </tr>
        </table>

        <table id="customers">
            <tr>
                <th>81st</th>
            </tr>
            <tr>
                <td><a href = "traintime/A21S">81st Lines 1 2 3 Southbound</a></td>
            </tr>

            <tr>
                <td><a href = "traintime/A21N">81st Lines 1 2 3 Northbound</a></td>
            </tr>

        </table>
    </div>
</footer>

{% endblock %}