<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center;"> Statue of Liberty </h1>
<body style="background-color:#FCF3DE;">
<img src="https://imageproxy.themaven.net//https%3A%2F%2Fwww.history.com%2F.image%2FMTY1MTc1MTk3ODI0MDAxNjA5%2Ftopic-statue-of-liberty-gettyimages-960610006-promo.jpg" width="600" height="300" class="center">
<p> The Statue of Liberty is made of copper and sits on Ellis Island. She is an icon that represents liberty.
    </div>
    </div>

{% endblock %}