<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center;"> Statue of Liberty </h1>
<body style="background-color:#FCF3DE;">
<img src="https://imageproxy.themaven.net//https%3A%2F%2Fwww.history.com%2F.image%2FMTY1MTc1MTk3ODI0MDAxNjA5%2Ftopic-statue-of-liberty-gettyimages-960610006-promo.jpg" width="600" height="300" class="center">
<p> The Statue of Liberty is made of copper and sits on Ellis Island. She is an icon that represents liberty.
</p>
<p style="text-align:center;">
    <a class="btn btn-primary" href="https://www.google.com/maps/d/u/0/viewer?msa=0&ie=UTF8&t=m&ll=40.70276500000001%2C-74.032574&spn=0.032534%2C0.102825&z=13&source=embed&mid=1genpW9bQ6PCexDig26nmoPfMWnA" role="button">Take me there!</a>
    </p>
    </body>

{% endblock %}