<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<h1> Statue of Liberty </h1>
<body style="background-color:#FCF3DE;">
<div class="jumbotron">
    <p style="text-align:center;">
        <img src="https://imageproxy.themaven.net//https%3A%2F%2Fwww.history.com%2F.image%2FMTY1MTc1MTk3ODI0MDAxNjA5%2Ftopic-statue-of-liberty-gettyimages-960610006-promo.jpg" width="600" height="300" class="center">
    <center>
    The Statue of Liberty is made of copper and sits on Ellis Island. She is an icon that represents liberty.
</center>
    <br>
<p style="text-align:center;">
    <a class="btn btn-primary" href="https://www.google.com/maps/d/u/0/viewer?msa=0&ie=UTF8&t=m&ll=40.70276500000001%2C-74.032574&spn=0.032534%2C0.102825&z=13&source=embed&mid=1genpW9bQ6PCexDig26nmoPfMWnA" role="button">Take me there!</a>
    </p>
</div>
    </body>

<footer>
    <h3 style="font:Monaco;"> Want to Leave? Consider these Subways</h3>
    <div>
        <table id="customers">
            <tr>
                <th>No Trains Run through the island. Try the ferry!</th>


        </table>
    </div>
</footer>
{% endblock %}