<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="media">
    <a href="/joke">
        <img src="{{ url_for('static', filename='msq.jpeg')}}" width="64" height="64" class="mr-3">
    </a>
    <div class="media-body">
        <h5 class="mt-0" >Madison Square Gardens</h5>
        Madison Square Garden is a indoor arena area. It is home to the New York Knicks. It is in Midtown Manhattan between 7th and 8th Avenue. It opened in 1968 as a sporting facility.
        <p>It uses utility classes for typography and spacing to space content out within the larger container.
    </div>
</div>

{% endblock %}