{% extends "base.html" %}
{% block title %}Wall Street Station{% endblock %}
{% block content %}

<h3>Random Stuff</h3>
<div class="media">
    <a href="/trivia">
        <img src="{{ url_for('static', filename='images/battleship.png')}}" width="64" height="64" class="mr-3">
    </a>
    <div class="media-body">
        <h5 class="mt-0">Battleship</h5>
        Play a computer science based battleship game!
    </div>
    <p></p>
    <div class="embed-responsive embed-responsive-4by3">
        <div style="positi

{% endblock %}